body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #202020;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    text-align: justify;
}

#center {
    width: 60%;
    margin: 3% auto 3% auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    /*text-align: center;*/
}

.center {
    margin: 0 auto;
    display: block;
    width: max-content;
    text-align: left;
}

h1 {
    text-align: center;
}

#btn-clr {
    margin: 1em;
}

input[type="submit"] {
    padding: 8px 16px;
    width: 100px;
    color: white;
    cursor: pointer;
    border: 1px solid #999;
    border: none transparent;
    background-color: #000080;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 2px;
    transition: all .3s ease-in-out;
}


.box.icon.arrow-left p.name {
    text-align: center;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    border: 1px solid #999;
    border: none transparent;
    background-color: #000080;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 1.3em;
    transition: all .3s ease-in-out;
}

.footnotes a {
    text-align: center;
    padding: 8px 16px;
    color: white !important;
    cursor: pointer;
    border: 1px solid #999;
    border: none transparent;
    background-color: #000080;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 1.3em;
    transition: all .3s ease-in-out;
}

.footnotes a:hover {
    color: #ccc !important;
    transition: all .3s ease-in-out;
}

footnotes a:visited {
    color: #999 !important;
    transition: all .3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #2121b3;
    transition: all .3s ease-in-out;
}

input[type="submit"]:disabled {
    background-color: #cccccc;
}

form {
    margin: 0 auto;
    display: block;
    width: max-content;
    text-align: left;

}

.error {
    color: red;
    border: 1px solid red;
    border-radius: 2px;
    margin: 5px auto;

    width: 60%;
}

.info {
    color: #003399;
    border: 1px solid #003399;
    border-radius: 2px;
    margin: 5px auto;
    padding: 2px;
    width: 60%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 20% 0 20%;
}

/* Icons made by fontawesome.com under CC BY 4.0 License https://fontawesome.com/license/free  */
/* The BBQ-Grill Icon is made by Smashicons from www.flaticon.com */
.icon.beer {
    background-image: url("../icons/beer-solid.svg");
}

.icon.cap {
    background-image: url("../icons/cap-solid.svg");
}

.icon.clock {
    background-image: url("../icons/clock-regular.svg");
}

.icon.cocktail {
    background-image: url("../icons/cocktail-solid.svg");
}

.icon.dice {
    background-image: url("../icons/dice-solid.svg");
}

.icon.film {
    background-image: url("../icons/film-solid.svg");
}

.icon.food {
    background-image: url("../icons/food-solid.svg");
}

.icon.grill {
    background-image: url("../icons/grill-solid.svg");
}

.icon.hiking {
    background-image: url("../icons/hiking-solid.svg");
}

.icon.home {
    background-image: url("../icons/home-solid.svg");
}

.icon.marker {
    background-image: url("../icons/marker-solid.svg");
}

.icon.route {
    background-image: url("../icons/route-solid.svg");
}

.icon.inactive {
    opacity: 50%;
}

.description {
    margin: 5px auto;
    white-space: nowrap;
    padding-left: 35px;
    width: min-content;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

@media only screen and (max-device-width: 1200px) {
    #center {
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 0;
        padding: 0;
        width: 95%;
    }

    .block {
        width: 95%;
        padding: 0 10px 0 10px;
    }
}

@media only screen and (max-device-width: 680px) {
    #center {
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 0;
        padding: 0;
        width: 99%;
    }

    .block {
        width: 100%;
        padding: 0;
    }

    .info, .error {
        width: 80%;
    }
}
