/* General Styles */
:root {
    /* Colors */
    --background-color: #f5f5f5;
    --background-color-light: #ffffff;

    /* Primary Color */
    --primary-color: #000080;
    --primary-color-rgb: 0, 0, 128;

    /* Success Color */
    --success-color: #008000;
    --success-color-rgb: 0, 128, 0;
    --success-color-light: #cce5cc;

    /* Text Color */
    --text-color: #202020;
    --text-color-light: #ffffff;
    --text-hover-color: var(--primary-color);
    --text-inactive-color: #606060;

    /* Box Color */
    --box-color: #ffffff;
    --box-hover-color: #dddddd;
    --box-inactive-color: #cccccc;

    /* Border */
    --border: 1px solid #999;
    --border-radius: 10px;

    /* Shadow */
    --box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2), -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
    --box-shadow-hover: 9px 9px 15px 0 rgba(var(--primary-color-rgb), 0.2), -9px -9px 15px 0 rgba(255, 255, 255, 0.5);

    /* Transition */
    --transition: all .5s cubic-bezier(.14, .71, .78, .96);

    /* Font */
    --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-weight: 500;
    --letter-spacing: 0.02em;
}

body {
    /* Font + Text */
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-size: calc(10pt + 0.3vw);
    text-align: justify;

    /* Colors */
    background-color: var(--background-color);
    color: var(--text-color);

    /* Margin + Padding */
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Link Styles */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--text-color);
}

a .link {
    text-align: center;
    padding: 8px 16px;
    color: var(--text-color-light);
    cursor: pointer;
    border-radius: var(--border-radius);
    text-decoration: none;
    margin-top: 1.3em;
    transition: var(--transition);
    background-color: var(--primary-color);
    width: 250px;
}

a .link.color-border {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Box Styles */
.box {
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    border-radius: var(--border-radius);

    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: var(--box-shadow);
    transform: translateY(0);
    background-color: initial;
}

.box .name {
    font-size: 100%;
    color: var(--text-color);
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
    line-height: 1.5;
    white-space: pre-wrap;
    max-width: 100%;
}

.box.today {
    background-color: var(--success-color-light);
}

.box:not(.inactive):not(.past):hover {
    box-shadow: var(--box-shadow-hover);
    transform: translateY(-20px);
    background-color: rgba(var(--primary-color-rgb), 0.1);
}

.box.inactive,
.box.past {
    background-color: var(--box-inactive-color);
    color: inherit;
    box-shadow: none;
    transition: none !important;
}

/* Paragraph Styles */
p {
    margin: 0;
    width: 100%;
    font-size: 90%;
    overflow-wrap: break-word;
}

p.date {
    font-size: 60%;
    color: #353535;
}

.box:hover p.date {
    color: #000080;
}

.box.inactive:hover p.date,
.box.past:hover p.date {
    color: inherit;
}

/* Icon Styles */
.icon {
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: 30% 30%;
}

/* Footnotes Styles */
.footnotes {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

/* Media Queries */
@media only screen and (max-device-width: 680px) {
    .box {
        width: 150px;
        height: 150px;
    }

    .box .name {
        font-size: 70%;
    }

    .box .date {
        font-size: 50%;
    }
}

/* Centering and Alignment */
#center {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: var(--background-color-light);
}

#center.small {
    width: 60%;
    max-width: 800px;
}

/* Container Styles */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Header Styles */
h1 {
    text-align: center;
    margin-top: 0;
}

/* Button Styles */
input[type="submit"] {
    text-align: center;
    padding: 8px 16px;
    cursor: pointer;
    border: none transparent;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-decoration: none;
    margin-top: 2px;
    transition: var(--transition);
    width: 100%;
    max-width: 250px;
    font-size: 100%;
    box-shadow: var(--box-shadow);
}

input[type="submit"]:hover {
    background-color: rgba(var(--primary-color-rgb), 0.8);
    box-shadow: var(--box-shadow-hover);
    transform: translateY(-2px);
}

input[type="submit"]:disabled {
    background-color: #cccccc;
}

/* Form Styles */
form {
    margin: 0 auto;
    display: block;
    width: max-content;
    text-align: left;
}

form input[type="submit"], form .text-block {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

/* Block */
.text-block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

/* Error and Info Message Styles */
.text-block.error,
.text-block.info {
    border-radius: var(--border-radius);
    margin: 5px auto;
}

.error {
    color: red;
    border: 2px solid red;
}

.info {
    color: #003399;
    border: 1px solid #003399;
}

/* Additional Box Styles */
a .box.icon {
    text-align: center;
    padding: 8px 16px;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    text-decoration: none;
    margin-top: 1.3em;
    transition: var(--transition);
}


/* Responsive Design Adjustments */
@media screen and (max-width: 680px) {
    .container {
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .container.small-screen-reverse-order {
        flex-direction: column-reverse;
    }
    #center {
        margin: 0 auto;
        width: 95%;
    }
    #center.small {
        margin: 0 auto;
        width: 95%;
    }
}

/* Description Styles */
.description {
    margin: 10px auto;
    white-space: nowrap;
    padding-left: 1em;
    width: min-content;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.84em;
}
